<div class="customer">
  <p><%= link_to 'Edit', edit_customer_path(customer) %> <%= link_to 'x', customer, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <% if(!customer.full_name.empty?) then %>
  <p>Name: <%= customer.full_name %></p>
  <% end %>
  <% if(!customer.image.empty?) then %>
  <%= image_tag(customer.image) %>
  <% end %>
  <% if(!customer.phone_number.empty?) then %>
  <p>Phone #: <%= customer.phone_number %></p>
  <% end %>
  <% if(!customer.email_address.empty?) then %>
  <p>Email: <%= customer.email_address %></p>
  <% end %>
  <% if(!customer.notes.empty?) then %>
  <p>Notes: <%= customer.notes %></p>
  <% end %>
</div>
